.DS_Store
*.o
*.swp
*shepherd.c
*.aux
*.bbl
*.blg
*.log
*.pdf
bst/cspot
bst/app
linked-list/cspot
linked-list/app
bst-example/cspot
bst-example/bst-example
linked-list-example/cspot
linked-list-example/linked-list-example
output
